.backGround {
  background-image: url(/bgrick.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.borderGreen {
  border-color: green;
  border-width: medium;
}

.rotate {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
